.App {
  display: flex;
  justify-content: center;
}

.boxesGroup {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
  grid-gap: 0px;
  max-width: 800px;
  /* drag style */
  cursor: default;
}

.box {
  /* nested boxes */
  height: 100px;
  width: 100px;
  /* drag style */
  cursor: move;
}

.content {
  /* centering content in box */
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* decorating */
  font-weight: bold;
}
